<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}"></title>
</head>
<body>
<div align="center">
    <h1> Welcome To Cydeo </h1>
    <h2> Your registration successful </h2>

</div>

<h2 th:text="'firstName: '+ ${mentor.firstName}"></h2>
<h2 th:text="'lastName: '+ ${mentor.lastName}"></h2>
<h2 th:text="'email: '+ ${mentor.email}"></h2>
<h2 th:text="'gender: '+ ${mentor.gender}"></h2>
<h2 th:text="'batch: '+ ${mentor.batch}"></h2>
<h2 th:text="'graduated: '+ ${mentor.graduated}"></h2>
<h2 th:text="'company: '+ ${mentor.company}"></h2>


</body>
</html>